body{background-color: Black;
}
h2{color: orange;}
h1{color:orange;}










button{
all:unset;




border-radius: 100px;




background-color: rgba(82, 172, 247, 0.822);
padding: 15px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}




input{padding: 10px;
border-radius: 10px;
border: 1px solid rgba(255, 136, 0, 0.781)}








.results{font-size: rgb(0, 195, 255) 20px ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-radius: 15px;
background-color: ;
margin-top: 15px;
text-align: center;
padding:50px;}




h1{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h2{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}






body {
  font-family: Arial, sans-serif;
  background-color: orange;
  margin: 0;
  padding: 20px;
}
.password-check {
  display: block;
  margin: 0 auto;
  padding: 30px 30px;
  background-color: #4CAF50;
  color: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}




img {
  max-width: 600px;
  height:auto;
  border:white 10px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}




nav{display:flex;
flex-direction:column;
padding: 30px;
}
a{text-align:center;}






h1 {
font-family: "SF Distant Galaxy";
    color:White;
    background:orange;
    text-align:center;
    border:solid black;
}


button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


button:hover {
  background-color: orange;
}
