

  
body{background-color: orangered;
}
h2{color: white;}
h1{color:white;}


img {height: 100px;
width: 100px}


.marvel{height: 100px;
width: auto;}


button{
all:unset;


border-radius: 100px;


background-color: blue;
padding: 15px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}


input{padding: 10px;
border-radius: 10px;
border: 1px solid #f00}




.results{font-size: 20px ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
border-radius: 15px;
background-color: aliceblue;
margin-top: 15px;
text-align: center;
padding:50px;}


h1{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h2{ font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}